<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ihm Web</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/Polar.jpg' %}">
</head>

<body class="corps">
    <header>
        <h1 class="config2">Projet barre LED</h1>
    </header>
    <div class="login-box">
        <h4 class="config">Configuration</h4>
        <form class="ipuniv" name="ipuniv" id="ipuniv" onsubmit="return Verification()">
          <div class="user-box">
            <input type="text" placeholder="xxx.xxx.xxx.xxx" name="ip" id="ip" />
            <label>Adresse IP</label>
          </div>
          <div class="user-box">
            <input type="number" placeholder="1 à 32768" name = "univers" id="univers"/>
            <label>Univers</label>
          </div>
          <a name="buttonsend">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Envoyer
          </a>
        </form>
      </div>
    <footer class="footer">
        <button class="btnshut" type="button" onclick="Shutdown()">
            Eteindre
        </button>
    </footer>

    <script src="{% static 'index.js' %}"></script>
</body>

</html>